
<div class="text-bg-dark">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home"          class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/products"      class="nav-link">Catalogo</a></li>
        <li class="nav-item"><a routerLink="/about-us"      class="nav-link">Sobre Nosotros</a></li>
        <li class="nav-item"><a routerLink="/shopping-cart" class="nav-link">Carrito</a></li>
      </ul>
    </header>
  </div>