<app-header></app-header>

<div class="container text-center" style="margin-top: 30px;">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Caramelo nuevo</h5>
              <p class="card-text"> <img src="assets/img/nav1.png" alt=""> </p>
              <a href="#" class="btn btn-primary">Lo quiero!</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Destacado del mes</h5>
              <p class="card-text"><img src="assets/img/nav1.png" alt=""></p>
              <a href="#" class="btn btn-primary">Quiero saber más!</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Oferta</h5>
              <p class="card-text"><img src="assets/img/nav1.png" alt=""></p>
              <a href="#" class="btn btn-primary">Me interesa!</a>
            </div>
          </div>
      </div>
    </div>
  </div>

<br><br><br><br>

<!------------------------------------------------------------------------------------------------------------>

<h4>Nuestro catálogo de productos </h4> <br> <br>
<table class="tabla" >
    <div class="catalogo">
        <div class="container text-center">
            <div class="row row-cols-3">
              <div class="tituloD"><p style="margin-bottom: 150px;"> DULCE1 <br><img src="assets/img/caramelo.jpg" alt="..."> <br> $999.999 <br> <button value="comprar" class="btn btn-outline-primary">Ver más</button> </div> <br>
              <div class="tituloD"><p> DULCE2 <br><img src="assets/img/caramelo2.jpg" alt="..."><br> $999.999 <br> <button value="comprar" class="btn btn-outline-primary">Ver más</button></div> <br>
              <div class="tituloD"><p> DULCE3 <br><img src="assets/img/caramelo3.jpg" alt="..."><br> $999.999 <br> <button value="comprar" class="btn btn-outline-primary">Ver más</button></div>              
              <div class="tituloD"><p> DULCE4 <br><img src="assets/img/caramelo4.jpg" alt="..."><br> $999.999 <br> <button value="comprar" class="btn btn-outline-primary">Ver más</button></div>
              <div class="tituloD"><p> DULCE5 <br><img src="assets/img/caramelo5.jpg" alt="..."><br> $999.999 <br> <button value="comprar" class="btn btn-outline-primary">Ver más</button></div>
              <div class="tituloD"><p> DULCE6 <br><img src="assets/img/caramelo6.jpg" alt="..."><br> $999.999 <br> <button value="comprar" class="btn btn-outline-primary">Ver más</button>
             </div>
            </div>
          </div>
    </div>
</table>
